/bin
/obj
/packages
/RublonDotNetSDK.pfx
/.vs/RublonSDK/v16/.suo
/.vs/rublon-sdk-net/v16.suo
/.vs/rublon-sdk-net/v16/.suo
/.vs
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/nuget.exe
/RublonSDK.nuspec
/nuget/Rublon.1.3.1.nupkg
